
#filters-holder img {
    margin: 1em;
}

#form {
    margin: 1em;
    width: max-content;
    height: max-content;
}

#form * {
    margin: 1em;
}

#img-description {
    max-width: 80%;
}

@media (max-width: 1435px) {
    #filters-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 600px) {
    #filters-holder img {
        width: 80%;
    }
}