.popup-container {
    position: relative;
    z-index: auto;
    display: flex;
}

.popup {
    z-index: 2;
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: white;
}

#one {
    width: 30%;
}

#two {
    width: 4%;
    left: 30%;
    top: 40%;
    height: 20%;
}

#three {
    left: 35%;
    width: 16%;
}

#filler-one {
    left: 51%;
    width: 5%;
}

#four {
    left: 56%;
    width: 18%;
}

#filler-two {
    left: 74%;
    width: 7%;
}

#five {
    right: 0%;
    width: 19%;
}

#size-img {
    z-index: 1;
    width: 100%;
    height: auto;
}

.popup-text-container {
    z-index: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: opacity 0.5s, z-index 0.5s;
    opacity: 0;
    top: 0;
    padding: 1em;

}

#input {
    left: 30%;
}

#convolve {
    left: 34%;
}

#filters {
    left: 51%;
}

#output-separate {
    left: 0%;
    width: 54%;
}

#output-together {
    left: 0%;
    width: 75%;
}