.filters-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.filters-holder img {
    margin: 1em;
    width: 33vw;
    height: auto;
}


#form {
    margin: 1em;
    width: 20vw;
    height: max-content;
}

#form>* {
    margin: 1em;
}

.kernel-matrix{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 0.5px rgba(0, 0, 0, 0.5) solid;
}

.kernel-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.kernel-row>* {
    border: 0.5px rgba(0, 0, 0, 0.5) solid;
    padding: 8px 0px;
    font-size: 16px;
    text-align: center;
}

#form label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#form select {
    margin-top: 0.25em;
}

@media screen and (max-width: 800px) {
    .filters-holder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filters-holder img {
        width: 80%;
        height: auto;
    }
    #form {
        width: max-content;
        height: max-content;
    }

}

#img-description {
    /* max-width: 80%; */
    margin: 1em;
    display: inline-block;
}



.small-stuff {
    font-size: 14px;
}

.small-stuff a {
    color: #1EBDF4;
    font-weight: bolder;
    text-decoration: none;
}

.small-stuff a:hover {
    text-decoration: underline;
}