
.filters-holder img {
    margin: 1em;
}

#form {
    margin: 1em;
    width: max-content;
    height: max-content;
}

#form>* {
    margin: 1em;
}

.kernel-matrix{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 0.5px rgba(0, 0, 0, 0.5) solid;
}

.kernel-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.kernel-row>* {
    border: 0.5px rgba(0, 0, 0, 0.5) solid;
    padding: 25% 0px;
    font-size: 16px;
    text-align: center;
}

#form select {
    margin-left: 1em;
}

#img-description {
    /* max-width: 80%; */
    margin: 1em;
    display: inline-block;
}

@media (max-width: 1435px) {
    .filters-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 600px) {
    .filters-holder img {
        width: 80%;
    }
}

.small-stuff {
    font-size: 14px;
}

.small-stuff a {
    color: #1EBDF4;
    font-weight: bolder;
    text-decoration: none;
}

.small-stuff a:hover {
    text-decoration: underline;
}