
#container {
    
    position: relative;
    overflow: hidden;
    filter: brightness(0%);
    background-image: url('../../img/koala.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 30vw;
    
}
#spotlight {
    opacity: 0; /*so that it is not shown until mouseover*/
    border-radius: 100%;
    content: "";
    position: absolute;
    width: 10vw;
    height: 10vw;
    z-index: 1;
    transform: translate(-50%, -50%); /*center on mouse*/
    border: solid black 70vw;
}