  .topnav{
    height: 60px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#1EBDF4;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:rgba(255,255,255,1);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  .topnav a{
    list-style-type: none;
    font-family: 'poppinsmedium';
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }

  #ACM:hover {
    background-color: rgba(0,0,0,0.07);
    border-radius: 7px;
  }

  #ACM{
      margin-right: 20px;
      padding-left: 1px;
      padding-right: 4px;
      padding-top: 2px;
  }

  #logo{
      width: 30px;
      height: 30px;
      vertical-align: top;
  }
