body{
    margin: 0;
  }
  
@font-face {
  font-family: 'poppinslight';
  src: url('poppinsLight/poppins-light-webfont.woff2') format('woff2'),
       url('poppinsLight/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  .topnav{
    height: 60px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#1EBDF4;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:rgba(255,255,255,1);
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  .topnav a{
    list-style-type: none;
    font-family: 'poppinslight';
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 00;
  }
  
  #ACM:hover {
    padding-left: 1px;
    padding-right: 4px;
    padding-top: 2px;
    background-color: rgba(0,0,0,0.07);
    border-radius: 7px;
  }
  
  #ACM{
      margin-right: 20px;
      float: right;
      padding-left: 1px;
      padding-right: 4px;
      padding-top: 2px;
  }
  
  #webtag{
    float: left;
  }
  
  #logo{
      width: 30px;
      height: 30px;
      vertical-align: top;
  }
  
