
.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em;
}

.blue { /*blue divs*/
  background-color: #1EBDF4;
}

.grey { /*grey divs*/
  background-color: #EBF9FE;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  width: 95%;
  padding: 1em;
  opacity: 0.95;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.2);
  justify-content: flex-start;
  font-family: 'poppinslight';

}
.toc-panel {
  display: flex;
  align-items: center;
  border-radius: 7px;
  width: 95%;
  padding: 1em;
  opacity: 0.95;
  font-family: 'poppinslight';

}
.mini-card {
  background: rgba(251, 251, 251, 0.94);
  border-radius: 7px;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.2);
  padding: 1em;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 60%;
}
.clipart-container {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

h1 {
  font-size: 30px;
  margin-top: 0;
  color: #1c1a19;
}

h2 {
  font-size: 20px;
  color: #1c1a19;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #1c1a19;
}

em {
  font-style: normal;
  font-weight: bolder;
}

#flashlight-holder {
  display: grid;
  grid-template-columns: 30% 70%;
}

#koala-reveal-img {
  width: 40%;
  border-radius: 15px;
  align-self: center;
  margin-bottom: 1em;
}

#flamingo-holder {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

#flamingo {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#side-text {
  margin-left: 2em;
}
#clipart {
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  min-width: 250px;
}

.link-to-slides {
  display: flex;
  border: 2px #1EBDF4 solid;
  border-radius: 7px;
  font-size: 16px;
  color: black;
  padding: 0.25em;
  text-decoration: none;
  max-width: max-content;

}

.link-to-slides:hover {
  background-color: rgba(0,0,0,0.07);
}