body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 30px;
  margin-top: 0;
  color: #1c1a19;
  font-family: 'poppinslight';
}

h2 {
  font-size: 20px;
  color: #1c1a19;
  line-height: 1.5;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #1c1a19;
}

em {
  font-style: normal;
  font-weight: bolder;
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em;
}

.blue { /*blue divs*/
  background-color: #1EBDF4;
}

.grey { /*grey divs*/
  background-color: #EBF9FE;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  width: 95%;
  padding: 1em;
  opacity: 0.95;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.2);
  justify-content: flex-start;

}.toc-panel {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  border-radius: 7px;
  width: 95%;
  padding: 1em;
  opacity: 0.95;
}
.mini-card {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.2);
  padding: 1em;
  margin: 5%;
  width: 50%;
  min-width: 300px;
  background: white;
}
.clipart-container {
  display: flex;
  max-width: 500px;
  min-width: 300px;
  width:50%;
}
#clipart {
  border-radius: 10px;
  width: 100%;
}
@media screen and (max-width:690px) {
  .toc-panel { flex-wrap: wrap; }
  .mini-card { width: 100%;}
  .clipart-container { width: 100%;}
}
.row {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}



#flashlight-holder {
  display: grid;
  grid-template-columns: 30% 70%;
}

#koala-reveal-img {
  width: 40%;
  border-radius: 15px;
  align-self: center;
  margin-bottom: 1em;
}

.grid-holder {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.grid-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.side-text {
  margin-left: 2em;
}

.link-to-slides {
  display: flex;
  border: 2px #1EBDF4 solid;
  border-radius: 7px;
  font-size: 16px;
  color: black;
  padding: 0.5em;
  text-decoration: none;
  max-width: max-content;
  align-self: center;
}
.link-to-slides:hover {
  background-color: rgba(0,0,0,0.07);
}
#fullscreen {
  font-family: 'Source Sans Pro', sans-serif;
  align-self: left;
  border: 2px #1EBDF4 solid;
  font-size: 16px;
  color: black;
  padding: 0.5em;
  background-color: #EBF9FE;
}
#fullscreen:hover {
  opacity: 0.7;
}
.cnnHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cnn-vis {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 400px;
  align-self: center;
}
