/*TODO: Remove duplication in classes */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 30px;
  margin: 0;
  color: #1c1a19;
  font-family: 'poppinslight';
  font-weight: 800;
  border-bottom: solid #1EBDF4;
}

h2 {
  font-size: 20px;
  color: #1c1a19;
  line-height: 1.5;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #1c1a19;
  margin: 0.5em 0;
  text-align: justify;
}

em {
  font-style: normal;
  font-weight: bolder;
}

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5em 1em;
  background-color: #fbf7f5;
}

/* .blue { /*blue divs
  background-color: #1EBDF4;
}

.grey { /*grey divs
  background-color: #EBF9FE;
} */
.banner {
  padding: 2em 1em;
  background-color: #1EBDF4;
  display: flex;
  justify-content: center;
  text-align: center;
}

.index{
  margin-left: 35%;
  display: flex;
  max-width: 30%;
  border: solid 2px #1EBDF4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  border-radius: 7px;
  width:90%;
  max-width: 750px;
  padding: 1em;
  opacity: 0.95;
  /* box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.2); */
  justify-content: flex-start;

}.toc-panel {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  border-radius: 7px;
  width: 95%;
  padding: 1em;
  opacity: 0.95;
}
.mini-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 2px rgba(30, 30, 30, 0.2);
  padding: 1em;
  margin: 5%;
  width: 50%;
  min-width: 300px;
  background: white;
}

.mini-card ol {
  font-size: 20px;
  margin: 0.5em;
  padding-left: 1em;
}

.mini-card ol li {
  margin: 0.25em 0;
}

.clipart-container {
  display: flex;
  max-width: 500px;
  min-width: 300px;
  width:50%;
}
#clipart {
  border-radius: 10px;
  width: 100%;
}
@media screen and (max-width:690px) {
  .toc-panel { flex-wrap: wrap; }
  .mini-card { width: 100%;}
  .clipart-container { width: 100%;}
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.grid-60-40 {
  display: grid;
  grid-template-columns: 60% 40%;
}
.links {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.chubby-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: stretch;
  background-color: #1EBDF4;
  width: 90%;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 7px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 0px 0px 8px 2px rgba(30, 30, 30, 0.2);
}

.chubby-link:hover {
  background-color: white;
  color:  #1EBDF4;
  border: solid #1EBDF4 3px;
}

.navigation{
  width: 30%;
  border: solid 2px black;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.navArrow{
  font-size: 50px;
}

.navArrow:hover{
  color: blue;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .grid-60-40 {
    display: flex;
    flex-direction: column;
  }
  .links {
    margin: 0;
    align-items: center;
  }
  .chubby-link {
    height: max-content;
  }
}

#flashlight-holder {
  /* display: grid;
  grid-template-columns: 30% 70%; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid-50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.needs-padding {
  padding-right: 1em;
}


.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .grid-50-50 {
    display: flex;
    flex-direction: column;
  }
}

#koala-reveal-img {
  width: 90%;
  height: auto;
  border-radius: 7px;
}

.grid-holder {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.grid-img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.side-text {
  margin-left: 2em;
}
.left-text {
  max-width: 50rem;
}

@media screen and (max-width: 600px) {
  .grid-holder {
    display: flex;
    flex-direction: column;
  }
  .side-text {
    margin: 0;
  }
}

.link-to-slides {
  /* border: 2px #ff8800 solid; */
  background-color: #ff8800;
  border-radius: 7px;
  font-size: 18px;
  color: white;
  padding: 0.25em;
  font-weight: bolder;
  /* text-decoration: none; */
  max-width: max-content;
  align-self: center;
  
  /* box-shadow: 0px 0px 8px 2px rgba(30, 30, 30, 0.1); */
}
.link-to-slides:hover {
  background-color: #1EBDF4;
  color: white;
}

.filters-intro {
  justify-content: space-between;
}
#fullscreen {
  font-family: 'Source Sans Pro', sans-serif;
  align-self: left;
  border: 2px #1EBDF4 solid;
  font-size: 16px;
  color: black;
  padding: 0.5em;
  background-color: #EBF9FE;
}
#fullscreen:hover {
  opacity: 0.7;
}
.cnnHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.filterGIF-container {
  width:100%;
  display: flex;
  align-items: center;
}

#filterGIF {
  align-self: center;
  width: 250px;
  height: auto;
}
.filters-intro {
  justify-content: space-between;
}

.filters-intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sentiment-holder {
  align-items: flex-end;
  width: 250px;
}
#sentiment-analysis {
  width:100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .sentiment-holder {
    width: stretch;
  }
}
#fullscreen {
  font-family: 'Source Sans Pro', sans-serif;
  align-self: left;
  border: 2px #1EBDF4 solid;
  font-size: 16px;
  color: black;
  padding: 0.5em;
  background-color: #EBF9FE;
}
#fullscreen:hover {
  opacity: 0.7;
}
.cnnHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}
#cnn-vis {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 400px;
  align-self: center;
}

#conclusion {
  text-align: center;
  
}