body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'poppinslight';
  src: url('components/style/poppinsLight/poppins-light-webfont.woff2') format('woff2'),
       url('components/style/poppinsLight/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsmedium';
  src: url('components/style/poppinsMedium/poppins-medium-webfont.woff2') format('woff2'),
       url('components/style/poppinsMedium/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
